.checkbox {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.marker {
    display: flex;
    width: 1.8rem;
    height: 1.8rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
    border: 0.1rem solid var(--secondary-text-color);
}

.marker img {
    opacity: 0;
    transition: 0.1s linear opacity;
}

.checked .marker {
    background-color: var(--primary-border-color);
    border: 0.1rem solid var(--primary-border-color);
}

.checked .marker img {
    opacity: 1;
}

.label {
    color: var(--primary-text-color);
    margin-left: 0.6rem;
    vertical-align: middle;
    line-height: 0rem;
    font-size: 1.2rem;
}

.checked .label {
    text-decoration: line-through;
}