.checkbox {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.marker {
    display: flex;
    width: 1.8rem;
    height: 1.8rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
    border: 0.1rem solid #C8C8C8;
}

.marker img {
    opacity: 0;
    transition: 0.1s linear opacity;
}

.label {
    margin-left: 0.6rem;
    vertical-align: middle;
    line-height: 0rem;
}

.checked .marker {
    background-color: #FD4646;
    border: 0.1rem solid #FD4646;
}

.checked .marker img {
    opacity: 1;
}

.checked .label {
    text-decoration: line-through;
}