.field {
    min-width: 12rem;
    height: 2.9rem;
    max-height: 2.9rem;
    background-color: #D8D8D8;
    outline: none;
    border: none;
    color: var(--primary-text-color);
    border-radius: 0.6rem;
    padding: 0rem 0.6rem;
    line-height: 0rem;
}

.field:focus{
    background-color: #d4d4d4;
    box-shadow: 0rem 0.2rem 0.4rem rgba(212, 212, 212, 0.45);
}

.field::placeholder {
    color: var(--primary-text-color);
}