.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
}

.secondary {
    color: #686868;
    border: 0.1rem solid #C8C8C8;
}

.primary {
    color: #ffffff;
    border: 0.1rem solid #FD4646;
    background-color: #FD4646;
}